from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## Data alignment review (element-wise operation: series op series)

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
x = Series({"A":10, "B":100})
s1 = Series({"A":2, "B":3})
s2 = Series({"B":3, "A":2})
print(x)
print(s1)
print(s2)

A     10
B    100
dtype: int64
A    2
B    3
dtype: int64
B    3
A    2
dtype: int64

## What is x * s1?

## What is x * s2?

## What is x < s1?

## What is x < s2?

## Oops, let's try series.lt(series)

## How would you apply greater than?

## What about equal comparison?

## ge (>=), le (<=), and ne (!=) are the other options

## Can we fix the ordering of s2 series?
### Try series.sort_index()

## DataFrame can be created from:
1. dict of Series
2. dict of lists
3. list of lists
4. dict of dicts
5. list of dicts

### DataFrame from dictionary of Series

In [3]:
col1 = Series(["Alice", "Bob", "Cindy", "Dan"])
col2 = Series([6, 7, 8, 9])

### DataFrame from dictionary of lists

### DataFrame from list of lists

In [4]:
data = [
    ["Alice", 6],
    ["Bob", 7],
    ["Cindy", 8],
    ["Dan", 9]
]
data

[['Alice', 6], ['Bob', 7], ['Cindy', 8], ['Dan', 9]]

### DataFrame from dictionary of dicts

In [5]:
data = {
    "Player name": {0: "Alice", 1: "Bob", 2: "Cindy", 3: "Dan"},
    "Score": {0: 6, 1: 7, 2: 8, 3: 9}
}
data

{'Player name': {0: 'Alice', 1: 'Bob', 2: 'Cindy', 3: 'Dan'},
 'Score': {0: 6, 1: 7, 2: 8, 3: 9}}

### DataFrame from list of dicts

In [6]:
data = [
    {"Player name": "Alice", "Score": 6},
    {"Player name": "Bob", "Score": 7},
    {"Player name": "Cindy", "Score": 8},
    {"Player name": "Dan", "Score": 9}
]
data

[{'Player name': 'Alice', 'Score': 6},
 {'Player name': 'Bob', 'Score': 7},
 {'Player name': 'Cindy', 'Score': 8},
 {'Player name': 'Dan', 'Score': 9}]

### Renaming the row index

In [7]:
data = [
    ["Alice", 6],
    ["Bob", 7],
    ["Cindy", 8],
    ["Dan", 9]
]
data

[['Alice', 6], ['Bob', 7], ['Cindy', 8], ['Dan', 9]]

## Data lookup

### Series
- s.loc[X]   <- lookup by pandas index
- s.iloc[X]  <- lookup by integer position
- s[X]       <- depends (first try index, use integer position if necessary)

In [8]:
col1 = Series({"Alice":6, "Bob":7, "Cindy":8, "Dan":9})
col1

Alice    6
Bob      7
Cindy    8
Dan      9
dtype: int64

In [9]:
col1.loc["Bob"] #Series index

7

In [10]:
col1.iloc[2] #Series integer position

8

In [11]:
col1["Cindy"] #Series index

8

In [12]:
col1[1] #Series integer position 
#No conflict between index and integer position in this example!

7

## Data lookup

### Series
- s.loc[X]   <- lookup by pandas index
- s.iloc[X]  <- lookup by integer position
- s[X]       <- depends (first try index, use integer position if necessary)

### DataFrame
- d.loc[X]    <- lookup ROW by pandas ROW index
- d.iloc[X]   <- lookup ROW by ROW integer position
- d[X]        <- lookup COL by COL index
- d.loc[X, Y] <- lookup by ROW index and COL index
- d.iloc[X, Y] <- lookup by ROW integer position and COL integer position

## How to set values for a specific entry?

- d.loc[X, Y] = new_val <- set value by ROW INDEX and COL INDEX
- d.iloc[X, Y] = new_val <- set value by ROW Integer position and COL Integer position

## How to compute max score?

## How to compute mean score?

## Slicing DataFrame

- df.iloc[ROW_SLICE, COL_SLICE] <- take a rectangular slice from the DataFrame using integer positions
- df.loc[ROW_SLICE, COL_SLICE] <- take a rectangular slice from the DataFrame using index

## How to set values for sliced DataFrame?

- d.loc[ROW_SLICE, COL_SLICE] = new_val <- set value by ROW INDEX and COL INDEX
- d.iloc[ROW_SLICE, COL_SLICE] = new_val <- set value by ROW Integer position and COL Integer position

## Instead of a slice, you could use a list of indexes or integer positions.

## Boolean indexing

### Series
- s[BOOL SERIES]  <- gets all s values lined up with True

### DataFrame
- d[BOOL SERIES]  <- pulls out rows lined up with True

## Creating DataFrame from csv

## How to see first few lines of the DataFrame?

## How to see last few lines of the DataFrame?

## Notice that there are two index columns
- That happened because when you write a csv from pandas to a file, it writes a new index column
- So if the dataFrame already contains an index, you are going to get two index columns
- Let's fix that problem

### How can you use slicing to get rid of the first column?

### Wrong way to write a df to a csv file

In [13]:
better.to_csv("wrong_movies.csv")

NameError: name 'better' is not defined

### Correct way to write a df to a csv file

In [ ]:
better.to_csv("better_movies.csv", index = False)

## What is the highest rated movie that had an above average runtime?

## DataFrame.describe()
- provides a lot of useful stats
- works only for columns with numbers as values

### How to get median runtime of all the movies?