In [ ]:
# ignore this cell - it makes the emphasized text red and uses the full width of the screen
from IPython.core.display import HTML
HTML('<style>em { color: red; }</style> <style>.container {width:100% !important; }</style>')

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
conn = sqlite3.connect("worksheet.db")

In [ ]:
def qry(QUERRY):
    return pd.read_sql(QUERRY, conn)

In [ ]:
pd.read_sql("SELECT * from sqlite_master", conn)

In [ ]:
hydrants = qry("SELECT * FROM hydrants")
trees = qry("SELECT * FROM trees")
species = qry("SELECT * FROM species")

In [ ]:
trees

### 1a. *Without* running this cell - *predict* the output of the following statement

In [ ]:
# trees[trees["priority"] > 90][["x", "y"]] 
#    x  y 
# 1  20 4  
# 4  50 4

### 1b. *Convert* the statement to an equivalent *SQL* querry.

In [ ]:
trees
qry("""
SELECT x, y
FROM trees
WHERE priority > 90
""")

----
### 2a. *Predict* the output of the following *SQL* querry

In [ ]:
qry("SELECT x+y FROM trees WHERE species = 'm'")
# trees

#     x+y
# 0   14
# 1   24
# 2   54

### 2b. *Convert* the querry into an equivalent *pandas* statement.

In [ ]:
trees
trees[trees["species"] == "m"]["x"] + trees[trees["species"] == "m"]["y"]

----
### 3a. *Predict* the output of the following *pandas* statements

In [ ]:
cd = species["code"][species["species"]=="maple"].iloc[0]
trees[trees["species"] == cd]["tree"]
# species
# "m"  
# trees
# 0 m True
# 1 m True
# 2 p False
# 3 p False
# 4 m True

# 0 A
# 1 B
# 4 E

### 3b. *Convert* the statements into an equivalent *SQL* querry.

In [ ]:
# cd = species["code"][species["species"]=="maple"].iloc[0]
# trees[trees["species"] == cd]["tree"]
species
cd = qry("SELECT code FROM species WHERE species = 'maple'")["code"].iloc[0]
cd
#print(cd, type(cd))
trees
qry("SELECT tree FROM trees WHERE species = '{}'".format(cd))

----
### 4a. *Predict* the output of the following querry

In [ ]:
qry("SELECT species FROM trees ORDER BY priority DESC")
# trees
#   species
# 0   m
# 1   m
# 2   m
# 3   p
# 4   p

### 4.b *Convert* the querry code to *Pandas*

In [ ]:
trees.sort_values("priority", ascending = False)["species"]

----
### 5a. *Predict* the output of the following code

In [ ]:
list(qry("SELECT tree, priority FROM trees ORDER BY priority DESC LIMIT 1").iloc[0])
# trees
#   tree priority
# 0  B     100
['B', 100]

### 5.b *Convert* the above code to *Pandas*

In [ ]:
list(trees.sort_values("priority", ascending=False)[ ["tree","priority"] ].iloc[0])

----
### 6a. *Predict* the output of the following code

In [ ]:
qry("""SELECT COUNT(SPECIES) AS c1, COUNT(DISTINCT SPECIES) as c2
FROM trees""")
# trees
#    c1  c2
# 0  5    2

### 6b. *Convert* the above code to *Pandas*

In [ ]:
x = pd.Series(["A", "B", "C", "A", "B", "A"])
x
type(x.value_counts())
x.value_counts()

In [ ]:
trees
len(trees["species"])
len(trees["species"].value_counts())
pd.DataFrame([{"c1":len(trees["species"]),  "c2":len(trees["species"].value_counts()) }])

----
### 7a. *Predict* the output of the following code

In [ ]:
qry("""
SELECT species, COUNT(SPECIES) AS count, AVG(diameter) AS size
FROM trees
GROUP BY species 
ORDER BY count DESC""")
#  species  count   size
# 0   m        3      10
# 1   p        2      7

### 7b. *Convert* the above code to *Pandas*

----
# Additional Exercises: 
### *Predict* the output of the following statements

In [ ]:
# qry("SELECT color, year FROM hydrants WHERE color = 'blue' ")

In [ ]:
# df = qry("SELECT color, year FROM hydrants")
# df[df.color == "blue"]

In [ ]:
# qry("SELECT year FROM hydrants WHERE owner='private' AND active")

In [ ]:
# df = qry("SELECT year, style, active FROM hydrants")
# df[df.active == 1]["style"]

In [ ]:
# hydrants["color"].value_counts()

In [ ]:
# qry("""SELECT color, COUNT(*) FROM hydrants
# WHERE active GROUP BY color""")

In [ ]:
# qry("""SELECT color, COUNT(*) AS count FROM hydrants
# GROUP BY color HAVING count > 1""")

In [ ]:
# qry("""SELECT color, COUNT(*) AS count
# FROM hydrants WHERE year >= 2000
# GROUP BY color HAVING count < 2""")