# Database 2
## Last lecture: SQL query clauses
- FROM: table
- SELECT: columns
- WHERE: row condition -> boolean expression (recommended to do before LIMIT)
    - boolean operators: AND, OR, NOT
    - AND / OR: can be used to combine conditions
- LIMIT: simple limiation of number of rows
- GROUP BY: sorting

## Today's lecture:
- aggregation: SUM, AVG, COUNT, MIN, MAX
- group by: equivalent to bucketization; one row can only be part of one bucket
- having: applying condition to groups

In [ ]:
# ignore this cell (it's just to make certain text red later, but you don't need to understand it).
from IPython.core.display import HTML
HTML('<style>em { color: red; }</style>')

In [ ]:
# import statements
import sqlite3
import pandas as pd
import os

In [ ]:
movies_path = "movies.db"
assert os.path.exists(movies_path)

c = sqlite3.connect(movies_path)
c

In [ ]:
pd.read_sql("select * from sqlite_master", c)

In [ ]:
pd.read_sql("select * from movies", c).head(5)

In [ ]:
def qry(sql, conn = c):
    return pd.read_sql(sql, conn)

In [ ]:
qry("""
SELECT *
FROM movies
""")

# Review: Simple Selections

SQL query outline format:

SELECT<br>
FROM<br>
WHERE<br>
ORDER BY<br>
LIMIT<br>

### Which *movie* has the *highest rating*?

In [ ]:
qry("""

""")

### Which *director* made the *shortest movie*?

In [ ]:
qry("""

""")

### Which *director* made the *highest-revenue movie*?

In [ ]:
qry("""

""")

### Which *movie* had the *highest revenues* in *2016*?

In [ ]:
qry("""

""")

### Which *3 movies* had the *highest revenues* in *2016*?

In [ ]:
qry("""

""")

### Which *3 movies* have the *highest rating-to-revenue ratios*?

Introduce `AS`

In [ ]:
qry("""

""")

# Aggregate Queries

```
SUM, AVG, COUNT, MIN, MAX
```

SQL query outline format:

SELECT<br>
FROM<br>
WHERE<br>
ORDER BY<br>
LIMIT<br>

### How many *movies* are there?

In [ ]:
qry("""

""")

### How many *directors* are there?

In [ ]:
# This doesn't feel correct - it counts duplicates for director names!
qry("""

""")

In [ ]:
qry("""

""")

### What is the *total revenue* of *all the movies*?

In [ ]:
qry("""

""")

### What is the *average rating* across *all movies*?

* v1: with `SUM` and `COUNT`
* v2: with `AVG`

In [ ]:
# v1
qry("""

""")

In [ ]:
# v2
qry("""

""")

### What is the *average revenue* and *average runtime* of *all the movies*?

In [ ]:
qry("""

""")

### What is the *average runtime* for a *James Gunn* movie?

In [ ]:
qry("""

""")

### What is the *average revenue* for a *Ridley Scott* movie?

In [ ]:
qry("""

""")

### *How many movies* were there in *2016*?

In [ ]:
qry("""

""")

### What *percentage* of the *total revenue* came from the *highest-revenue movie*?

In [ ]:
qry("""

""")

### What *percentage* of the *revenue* came from the *highest-revenue movie* in *2016*?

In [ ]:
qry("""

""")

### Follow up question: *which movie* was this?

In [ ]:
qry("""

""")

# GROUP BY Queries

```sql
SELECT ???, ??? FROM Movies
GROUP BY ???
```

SQL query outline format:

SELECT<br>
FROM<br>
WHERE<br>
GROUP BY<br>
ORDER BY<br>
LIMIT<br>

### What is the *total revenue* per each *year*?

* v1: the amounts
* v2: the amounts, as labeled by year

In [ ]:
# v1
qry("""

""")

In [ ]:
# v2
qry("""

""")

### *How many movies* were by each *director*?

In [ ]:
qry("""

""")

### What is the *average rating* for each *director*?

In [ ]:
qry("""

""")

### What is the *average runtime* for each *director*?

In [ ]:
qry("""

""")

### How many *unique directors* created a movie in each *year*

In [ ]:
qry("""

""")

# Combining GROUP BY with other CLAUSES

<img src="groupby.png">

### What is the *total revenue* of per *year*, in *recent* years?

In [ ]:
# recent means 5 years
qry("""

""")

### Which *directors* have had the *largest number of movies* earning *over 100M dollars*?

In [ ]:
qry("""

""")

### Which *three* of the *directors* have the *greatest average rating*?

In [ ]:
qry("""

""")

Why is the above question maybe not the best to ask?

In [ ]:
# We want to consider if the director has multiple great movies, instead of just one

### Which *three* of the *directors* have the *greatest average rating* over at *least three movies*?

In [ ]:
# We cannot use where clause on aggregates because that data doesn't exist in the original table
qry("""

""")

Need filtering BEFORE and AFTER the GROUP operations

<img src="pipeline.png">

# WHERE vs. HAVING

* WHERE: filter rows in original table
* HAVING: filter groups

### Repeat: Which *three* of the *directors* have the *greatest average rating* over at *least three movies*?

<img src="having.png">

SQL query outline format:

SELECT<br>
FROM<br>
WHERE<br>
GROUP BY<br>
HAVING<br>
ORDER BY<br>
LIMIT<br>

In [ ]:
# We cannot use where clause on aggregates because that data doesn't exist in the original table
qry("""

""")

### Which *directors* have had *more than 3 movies* that have been *since 2010*?

In [ ]:
qry("""

""")

### Which *directors* have had more than *three* movies with runtimes under *100* minutes

In [ ]:
qry("""

""")

In [ ]:
# Don't forget to close the movies.db connection
c.close()

# Practice: Survey data

In [ ]:
# open a connection to survey.db
survey_path = 'survey.db'
assert os.path.exists(survey_path)

conn = sqlite3.connect(survey_path)
conn

In [ ]:
qry("""
select *
from sqlite_master
""", conn)

### Take a peek at fall_2021 table data

In [ ]:
qry("""
select *
from fall_2021
""", conn)

### How many students in *LEC003* are graduating with *Engineering* major?

In [ ]:
qry("""

""", conn)

### How many students are in *each major*?
- bonus: sort based on majors, with most popular at the top

In [ ]:
qry("""

""", conn)

### What are the *top 5 popular majors*?

In [ ]:
qry("""

""", conn)

### What is the *average age* for *each major* with *at least 10 people*?
- bonus: sort based on popular major

In [ ]:
qry("""

""", conn)

### How many *CS or DS majors* are in *each lecture*?

In [ ]:
qry("""

""", conn)

### What are the *top 10 pizza toppings*?

In [ ]:
qry("""

""", conn)

### Which 2 lectures like pineapple the most?

In [ ]:
qry("""

""", conn)

In [ ]:
c.close()